.p-color {
	-fx-background-color: #8c9eff;
}

.p-light {
	-fx-background-color: #c0cfff;
}

.p-dark {
	-fx-background-color: #5870cb;
}

.s-color {
	-fx-background-color: #303f9f;
}

.s-light {
	-fx-background-color: #666ad1;
}

.s-dark {
	-fx-background-color: #001970;
}

.white {
	-fx-text-fill: #FFFFFF;
	-fx-fill: #FFFFFF;
}

.black {
	-fx-text-fill: #000000;
	-fx-fill: #000000;
}
